# Core functionality - changes here should be rare!
/src/app.py                   @luobin1016
/src/backend/database.py      @luobin1016
/src/backend/routers/auth.py  @luobin1016

# The frontend will need refactored soon to be more object oriented.
/src/static/   @luobin1016
